{% extends 'base.html' %}
{% load static %}
{% block title %}
 All Posts
{% endblock %}
{%block meta%}

  <!-- HTML Meta Tags -->
  <title>
    SmarTTraineeBlogs | Check out our Blogs
</title>
  <meta name="description" content="SmarTTraineeBlogs | Check out our Blogs">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="http://smarttraineeblogs.com/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="
    Check out our Blogs
">
  <meta property="og:description" content="Check out our blogs about health, nurtition, diet, workout and supplementation.">
  <meta property="og:image" content="http://smarttraineeblogs.com/static/images/smarttrainee.png">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="smarttraineeblogs.com">
  <meta property="twitter:url" content="http://smarttraineeblogs.com/">
  <meta name="twitter:title" content="
    Check out our Blogs
">
  <meta name="twitter:description" content="Check out our blogs about health, nurtition, diet, workout and supplementation.">
  <meta name="twitter:image" content="http://smarttraineeblogs.com/static/images/smarttrainee.png">

  <!-- Meta Tags Generated via https://www.opengraph.xyz -->
        
{%endblock%}
{% block css_files %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css"> 
<link rel="stylesheet" href="{% static 'all-posts.css'  %}">
    <link rel="stylesheet" href="{% static 'post.css'  %}">
{% endblock %}
{% block content %}
    {% include 'includes/search.html' %}
    <section id="all-posts">
    <h2>Our Blog Posts</h2>
        <ul class="ps">
            {% for post in page_obj %}
                {% include 'includes/post.html' %}
            {% endfor %}
        </ul>
    </section>
    <div id ="paginate" aria-label="...">
  <ul class="pagination pagination-lg">

  {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
     <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Prev</a></li>
  {% endif %}
{#  <li class="page-item page-link">page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>#}
      {% for i in pages%}
        <li class="page-item {% if page_obj.number == i %} active {% endif %}" ><a class="page-link" style="{% if page_obj.number == i %} background-color: #2253aa {% endif %}" href="?page={{ i }}">{{ i }}</a></li>
      {% endfor %}
   {% if page_obj.has_next %}
     <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a></li>
   {% endif %}


  </ul>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script>
    $( function() {
    
      $( "#search1" ).autocomplete({
        source:'{% url "all_posts" %}'
      });
    } );
    </script>
{% endblock %}