{% extends 'base.html' %}
{% load static %}
{% block title %}Products{% endblock %}
{% block css_files %}
    <link rel="stylesheet" href="{% static 'products.css' %}">
{% endblock %}
{%block meta%}

  <!-- HTML Meta Tags -->
  <title>
    SmarTTraineeBlogs | Check out our products
</title>
  <meta name="description" content="SmarTTraineeBlogs | Check out our products">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="http://smarttraineeblogs.com/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="
    Check out our products
">
  <meta property="og:description" content="Products every fitness geek needs!">
  <meta property="og:image" content="http://smarttraineeblogs.com/static/images/smarttrainee.png">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="smarttraineeblogs.com">
  <meta property="twitter:url" content="http://smarttraineeblogs.com/">
  <meta name="twitter:title" content="
    Check out our products
">
  <meta name="twitter:description" content="Products every fitness geek needs!">
  <meta name="twitter:image" content="http://smarttraineeblogs.com/static/images/smarttrainee.png">

  <!-- Meta Tags Generated via https://www.opengraph.xyz -->
        
{%endblock%}
{% block content %}
   <div class="album py-5 bg-light">
   <h1 id='thish1' class="text-center">Products</h1>
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src='https://m.media-amazon.com/images/I/61ifz03-zLL._SX522_.jpg' data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">NAKPRO PLATINUM 100% Whey Protein Isolate | 28.11g Protein, 6.42g BCAA | Easy Mixing, Low Carbs, Easy Digesting Whey Protein Supplement Powder for Men, Women & Athletes | 1 Kg Chocolate Flavour (30 Servings)</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button onclick="window.open('https://amzn.to/3Ue0Cl3','_blank')" type="button" class="btn btn-lg btn-outline-primary">Buy now</button>

                    </div>
                    <small class="text-muted">₹1,999.00</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src='https://m.media-amazon.com/images/I/71n8xPztUaL._SX522_.jpg' data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Naturyz Triple Strength Omega 3 Fish Oil with Highest Strength 2450 mg Omega 3-6-9 Per Serving (EPA 1200mg DHA 800mg) Capsules For Men & Women</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button onclick="window.open('https://amzn.to/3zvS5Ck','_blank')" type="button" class="btn btn-lg btn-outline-primary">Buy now</button>

                    </div>
                    <small class="text-muted">₹679.00</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://m.media-amazon.com/images/I/41Z85Kk1StS._SX300_SY300_QL70_FMwebp_.jpg" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">TrueBasics Multivit Daily, Multivitamin For Men and Women, with Zinc, Vitamin C, D, B12 and Multiminerals, Immunity and Antioxidant Blend, Clinically Researched Ingredients, 60 Multivitamin Tablets</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button onclick="window.open('https://amzn.to/3gQr7yA','_blank')" type="button" class="btn btn-lg btn-outline-primary">Buy now</button>

                    </div>
                    <small class="text-muted">₹699.00</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://m.media-amazon.com/images/I/6166WP9lcTL._SX522_.jpg" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Fast&Up Pre-Workout Supplement (30 Servings, Watermelon Flavour) | Pre Workout Supplement For Men & Women with B-Alanine, Creatine, Taurine For Performance & Energy Boost</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button onclick="window.open('https://amzn.to/3SVnzZn','_blank')" type="button" class="btn btn-lg btn-outline-primary">Buy now</button>

                    </div>
                    <small class="text-muted">₹1,499.00</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src='https://m.media-amazon.com/images/I/61NM56sAXPL._SX522_.jpg' data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">bGREEN by HealthKart Vegan Plant Protein Powder, 25 g Protein (Pea Protein Isolate & Pumpkin Seed), Complete Amino Acid Profile, Antioxidant Rich, Muscle Repair (Strawberry, 500 g, 13 Servings)</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button onclick="window.open('https://amzn.to/3WkltoI')" type="button" class="btn btn-lg btn-outline-primary">Buy now</button>

                    </div>
                    <small class="text-muted">₹1,279.00</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://m.media-amazon.com/images/I/71RikzpsKCL._SX679_.jpg" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">BodyFit 30Kg Exercise Sets Weight Plates Combo Home Gym Set Dumbbell Fitness Kit with 4 Rods (5ft, 3ft, 2 x 14")</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button onclick="window.open('https://amzn.to/3zx1idi')" type="button" class="btn btn-lg btn-outline-primary">Buy now</button>

                    </div>
                    <small class="text-muted">₹1,680.00</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://m.media-amazon.com/images/I/61jd0Rmb6vL._SX679_.jpg" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">JJ JONEX Combo Double Leather Weight Belt with Gym Bag and Gloves (Dark Blue and Black)</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button onclick="window.open('https://amzn.to/3TTz70A')" type="button" class="btn btn-lg btn-outline-primary">Buy now</button>

                    </div>
                    <small class="text-muted">₹899.00</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://m.media-amazon.com/images/I/415DbLv+GtL._SY300_SX300_.jpg" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">NAKPRO MICRONIZED CREATINE MONOHYDRATE | Highest Grade, Fast Dissolving & Rapidly Absorbing Creatine helps Muscle Endurance & Recovery (Unflavoured, 250 g)</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button onclick="window.open('https://amzn.to/3NnBfez')" type="button" class="btn btn-lg btn-outline-primary">Buy now</button>

                    </div>
                    <small class="text-muted">₹664.00</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://m.media-amazon.com/images/I/61GgEDaqgGL._SX522_.jpg" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Bigmuscles Nutrition Speed EAAx9 [Cola Soda] | Full Spectrum EAAs-BCAA, Keto Friendly, Caffeine Free, Vegan Friendly, Just Essentials, All 9 Essential Amino Acids [Pack of 10 Servings powder]</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button onclick="window.open('https://amzn.to/3zBRsam')" type="button" class="btn btn-lg btn-outline-primary">Buy now</button>
                    </div>
                    <small class="text-muted">₹769.00</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>






{% endblock %}