{% extends 'base.html' %}
{% load static %}
{% load social_share %}
{% block title %}
    {{post.title|capfirst }}
{% endblock %}
{%block meta%}

  <!-- HTML Meta Tags -->
  <title>
    {{post.title}}
</title>
  <meta name="description" content="{{post.excerpt}}">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="http://smarttraineeblogs.com/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="
    {{post.title}}
">
  <meta property="og:description" content="{{post.excerpt}}">
  <meta property="og:image" content="{{post.image}}">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="smarttraineeblogs.com">
  <meta property="twitter:url" content="http://smarttraineeblogs.com/">
  <meta name="twitter:title" content="
    {{post.title}}
">
  <meta name="twitter:description" content="{{post.excerpt}}">
  <meta name="twitter:image" content="{{post.image}}">

  <!-- Meta Tags Generated via https://www.opengraph.xyz -->
        
{%endblock%}
{% block css_files %}
<link rel="stylesheet" href="{% static 'post_details.css'  %}" />

{% endblock %}
{% block content %}
    <section class="jumbotron text-center" style="">
        <div class="container">
          <h1 class="jumbotron-heading" style="margin-bottom:2rem;">{{ post.title|title }}</h1>
{#            <p></p>#}
              <div>

         <article>
    <img id='mainimg' src="{{ post.image }}" alt="" />
             <vr>
<div id="right">
    <address>By {{ post.author|title }}</address>
    <time>Published on {{ post.date|date:'d M Y' }}</time>
</div>
  </article>

        </div>
           <div id="read-later">
    <form action="{% url 'read-later' %}" method="post">
      {% csrf_token %}
      <input type="hidden" value="{{ post.id }}" name="post_id" />
      {% if rl %}
      <button  type="submit">Remove from 'Read Later'</button>
      {% else %}
      <button  type="submit">Add to Read later</button>
      {% endif %}
    </form>
        <div class="dropdown">
   <button style="background:transparent; color: white; margin-top: 4%; width:100%;" class="btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       <strong>Share this Post</strong>
  </button>
   <div class="dropdown-menu" id="dm">
       <hr id="k">
       {%post_to_twitter "An awesome blog: {{post.title}}. Check it out!" object_or_url "Post to Twitter" %}
       <hr id="k">
       {% post_to_whatsapp object_or_url "Share via WhatsApp" %}
       <hr id="k">
       {% send_email post.title "New Blog: {{object.title}}. Check it out!" object_or_url "Share via Email" %}
       <hr id="k">
       {% post_to_reddit "New Blog: {{post.title}} Check it out!" object_or_url 'Share on Reddit'%}
        <hr id="k">
       {% post_to_telegram "New Blog: {{post.title}}" object_or_url 'Share on Telegram' %}
       <hr id="k">


  </div>
  </div>
            </div>

      </section>

<main>
<span id="detail">
  {{post.content|safe}}
</span>
</main>
{% if comments %}
<section id="comments">
  <h2>Comments</h2>
  <hr id="commenthr"/>
  <ul>
    {% for comment in comments %}
    <li>
      <h2>{{ comment.user_name|title }}</h2>
      <p>{{ comment.comment|linebreaks|title }}</p>
    </li>
    {% endfor %}
  </ul>
</section>
{% endif %}
<div id="comment-form">
  <h2>Your Comment</h2>
  <form action="{% url 'specific_post' post.slug %}" method="post">

    {% csrf_token %}
  {% load widget_tweaks %}

      {% for field in form %}
    <div class="form-control">
    {% if field.label_tag == 'Your Comment' %}

            <strong>{{ field.label_tag }}</strong>
        {% render_field field  %}
         {{ field.errors }}
    {% else %}
     {{ field.label_tag }} {{ field }} {{ field.errors }}
    {% endif %}
    </div>
    {% endfor %}
  <p  id="show" class="text-muted" style="text-align: -webkit-right; margin-right: 3%;">

  </p>
    <button id="mybtn7">Save Comment</button>
  </form>
</div>
    <div class="album py-5 bg-light">
    <div class="container">
      <h1 class='text-center' style='margin-top:2%; margin-bottom:4%; color:white;'>Related Posts </h1>
      <div class="row">

    {%for post in posts%}

          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src='{{post.image}}' data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
              <div class="card-body">
                <h5 class='card-heading' style="color: #2253aa; font-weight: bold;">{{post.title|capfirst}}</h5>
                <p class="card-text">{{post.excerpt}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button onclick = window.open("{% url  'specific_post' post.slug %}",'_self') type="button" class="featurebtn">View</button>

                  </div>
                  <small class="text-muted">{{post.author|title}}</small>
                </div>
              </div>
            </div>
          </div>
    {%endfor%}


        </div>
      </div>
    </div>
    <script>
        let myText = document.getElementById("id_comment");
myText.addEventListener("input", () => {
    let count =500- (myText.value).length;
    if (count === 500){
        document.getElementById("show").textContent =''
    }
    else {
        document.getElementById("show").textContent = `${count} characters left`;
    }});
    </script>


{% endblock %}
