{% extends 'base.html' %}
{% load static %}
{% block title %}
    Stored Posts
{% endblock %}
{% block css_files %}
     <link rel="stylesheet" href="{% static 'stored_posts.css'  %}">


{% endblock %}
{% block content %}
    {% if posts|length == 0 %}
        <div id="noposts">
    <h1 id="nph">Nothing to show here</h1>
        <p id="npp">The posts marked as read later will appear here. Currently, you haven't  marked any post as read later.</p>
        </div>
    {% else %}

      <div class="album py-5 bg-light">
    <div class="container">
      <h1 class='text-center' style=''>Read Later Posts</h1>
      <div class="row">

    {%for post in posts%}

          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src='{{post.image}}' data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
              <div class="card-body">
                <h5 class='card-heading' style="font-weight: 700;">{{post.title|capfirst}}</h5>
                <p class="card-text">{{post.excerpt}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button onclick = window.open("{% url  'specific_post' post.slug %}",'_self') type="button" class="featurebtn">View</button>

                  </div>
                  <small class="text-muted tm">{{post.author|title}}</small>
                </div>
              </div>
            </div>
          </div>
    {%endfor%}


        </div>
      </div>
    </div>
    {% endif %}

{#    <section id="stored-posts">#}
{#    {% if not has_posts %}#}
{#    <ul id="sul">#}
{#        <li class="sli"><a id='sa'>no posts here</a></li>#}
{#    </ul>#}
{#        {% else %}#}
{##}
{#    <ul id="sul">#}
{#        {% for post in posts %}#}
{#        <li class="sli"><a  id='sa' href="{% url 'specific_post' post.slug %}">{{ post.title }}</a></li>#}
{#    {% endfor %}#}
{#    </ul>#}
{#    </section>#}
{#    {% endif %}#}
{% endblock %}