nav{
    background: #2253aa !important;
}
#errorpage{
    margin-top:6%;
    text-align: center;
    margin-bottom: 5%;
}
#errimg{
   width: 40%;
    margin-top:1rem;
    margin-bottom: 1rem;
}
.errbtn{
    display: block;
    width: 30%;
    padding: 1% 1%;
    background: #2253aa;
    color: white;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    border: none;
    margin-bottom: 1%;
    text-decoration: none;
    letter-spacing: 1.5px;
}
.errbtn:hover{
    opacity: 0.9;
    color: white;
}
@media only screen and (min-width:150px) and (max-width: 768px){
    .errbtn{
        width: 60%;
        padding: 2% 1%;
    }
    #errimg{
        width: 70%;
    }
    #errorpage{
        margin-top: 25%;
    }
}