@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body{
  background: url(https://cdn.shopify.com/s/files/1/0630/1794/3286/files/TEP_Banner_home.jpg?v=1665835110);
}
/*#main-navigation {*/
/*  background-color: #390281;*/
/*  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);*/
/*}*/
nav{
  background-color: #2253aa !important;
}
#mainsearch{
    margin-top:10%;
    width:fit-content;
    margin-left:auto;
    margin-right: auto;
}
#all-posts {
  margin: 3rem auto;
  width: 90%;
  max-width: 60rem;
}
.ui-menu-item{
    transform: translateX(0);
    margin-bottom: 3px;
}
.ui-menu-item-wrapper{
      font-size: medium;
    transform: translateX(0);

  }
.ui-menu-item-wrapper:hover{
      background-color: #2253aa !important;
  }
.ui-menu{
    width: 40% !important;
}
#all-posts h2 {
  text-align: center;
  font-size: 2rem;
  color: whitesmoke;
  font-family: 'Ubuntu', sans-serif;
  margin: 3rem 0;
}

.ps {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  gap: 1.5rem;
}
#paginate{
  /*margin-top: 6%;*/
  /*margin-left:25%;*/
  /*margin-right: 23%;*/
  padding: 3%;
    display: flex;
  justify-content: center;

  margin-bottom: 3%;
}
#search{
    display: flex;
    justify-content: center;
    margin-top:7%;
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;

}
.search-form input{
  padding: 7px;
  font-family: inherit;
    border:2px groove #2253aa;
    outline: none;
    width: 400px;

    /*border-radius: 10px;*/

}

.btn2{
  display: block;
    border:none;
    width: 100%;
    margin-top:3%;
    background-color: #2253aa;
    color: white;
    font-weight: bold;
    padding-top: 2%;
    padding-bottom: 2%;

    transition: all  0.3s ease-in-out;
    font-family: "Comic Sans MS", sans-serif;



}
.btn2:hover,
.btn2:active{
   opacity: 0.9;



}
#paginate .pagination .page-item{
  margin-left: 0;
}
.pagination a {
    float: left;
    padding: 0 14px;
    line-height: 34px;
    color: #2253aa;
    text-decoration: none;
    border: 1px solid #ddd;
    border-left-width: 0;
}

.pagination a:hover,
.pagination .active a {
    background: #2253aa;
    color: #ffffff;
}

.pagination a:focus {
    background: #2253aa;
    color: #ffffff;
}


.pagination .active a {
    color: #ffffff;
    cursor: pointer}

@media only screen and (max-width: 786px) {
    #search{
        margin-top:28% !important;
    }
    .ui-menu{
    width: 80% !important;
}

}
@media only screen and (min-width:150px) and (max-width: 768px) {
    #search {
        margin-top: 28% !important;
    }

    .ui-menu {
        width: 80% !important;
    }
    #mainsearch{
      width: 90% !important;
    }
    #search{
      width: 100%;;
    }
    #search1{
      width: 100%;
    }
}

