@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
.post {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
  height: 100%;
  width:100%;
  justify-content: normal;
  border-radius: 25px;
}

/*.post__content:hover h3{*/
/*  color: white !important;*/
/*}*/
.post__content{
  font-family: 'Ubuntu', sans-serif;
}
.post__content h3{
  font-family: 'Lato', sans-serif;
}
.post a {
  text-decoration: none;
  color: black;
  transition: all 0.2s ease;
  padding: 1rem;
}

.post a:hover,
.post a:active {
  transform: scale(1.07);
  background-color: #2253aa;
  color: whitesmoke !important;
  border-radius: 25px;
  height: 100%;
}


.post img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 0.4rem;
}

.post h3 {
  margin: 0.25rem 0;
}

.post time {
  color: #666666;
  margin: 0.25rem;
  font-style: italic;
  font-size: 0.85rem;
}

.post:hover time,
.post:active time {
  color: white;
}
