nav{
background: #2253aa !important;
}
.album{
    margin-top:4%;
    background: transparent !important;
}
.card{
    height: 600px;
    max-height: fit-content;
}
.card:hover{
    box-shadow: 5px 5px #2253aa;
}
.card-img-top{
    max-height: 370px;
}
#thish1{
    margin-bottom: 3%;
    font-size: 3.5rem;
    color: #2253aa;
    font-family: 'Fuzzy Bubbles', cursive;
}
.album .card .btn-group .btn{
    border: 1px solid #2253aa;
    color: #2253aa;

}
.album .card .btn-group .btn:hover{
    background: #2253aa;
    color: white;
}
@media only screen and (min-width:150px) and (max-width:768px){
 .album{
     margin-top:25%;
 }
    #thish1{
        margin-bottom: 6%;
    }
}