body{
   background-image: url(https://i.postimg.cc/6615yG9x/gym.jpg);
  background-size: cover;
  background-attachment: fixed;
  min-height: auto;


}
nav{
  background: #2253aa !important;
}
#main-navigation {
  background-color: #390281;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

#noposts{
  margin-top:15%;
  font-size: large;
  width: 70%;
  margin-bottom:8%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 4%;
  background: aliceblue ;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#nph{
  color: #2253aa;
}


.featurebtn{
  color:whitesmoke;
  padding: 0.5rem 4rem;
  background:#2253aa;
  outline: none;
  border: 2px solid white;
  border-radius: 10px;
}
.featurebtn:hover{
  font-weight: bolder;
}


.album {
  margin-top:4%;
  background:transparent !important;


}
.tm{
  color: black !important;
}
.album .text-center{
  color: white;
  margin-bottom: 3%;
}
.card-img-top{
  height: 200px;


}
.card {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  background:whitesmoke;
  color: #252525;
  border:none;
  outline: none;

  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}
.sl {
  background-color: darkgoldenrod;
}
.form-control2 {
  background: #ffe1bf;
}
@media only screen and (min-width: 200px) and  (max-width:768px){
  #noposts{
    margin-top: 25%;
    

  }
  .album{
    margin-top:20% ;
  }
  .album .text-center{


    margin-bottom: 5%;
    color:White;
  }
}